#root {
  padding: 2rem;
}

.logo:hover {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.logo:hover {
  transform: rotate(360deg);
}

.no-disturb-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 15px;
  background-color: #ff4125;
  padding: 10px;
}
.no-disturb-buttons > button {
  margin-left: 5px;
}
