.goal-view-header h1 {
  display: inline-block;
  line-height: 1;
}
.goal-view-start {
  padding: 10px 30px;
}

.goal-view-desc {
  word-wrap: break-word;
}
.goal-view-desc.truncate {
  max-height: 230px;
  overflow-y: hidden;
}
