.goal-training textarea {
  width: 100%;
  display: block;
  height: 150px;
}

.goal-training-header {
}
.goal-training-header h1 {
  line-height: 1;
}

.goal-training-confirm button {
  padding: 10px;
  margin-bottom: 15px;
}

.goal-training-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.goal-training-spinner {
  animation: rotate 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  display: inline-block;
  font-size: 400%;
}

.goal-training-reward-text {
  font-size: 150%;
  color: #0d0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
  }

  100% {
    transform: rotate(360deg);
  }
}
