.goal-editor input[name="title"],
.goal-editor textarea {
  width: 100%;
}

.goal-editor input[type="number"] {
  max-width: 50px;
}

.goal-editor .weekday-selector > * {
  display: inline-block;
  width: 50px;
  margin: 10px;
}

.goal-editor .date-selector > * {
  display: inline-block;
  width: 50px;
  margin: 10px;
  text-align: right;
}

.goal-editor-delete-button {
  background-color: red;
  color: white;
}

.goal-editor ul {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}
