.goal-log-note-entry {
}

.goal-log-note-entry {
  margin-bottom: 30px;
}

.goal-log-note-entry p {
  margin-bottom: 0px;
  margin-top: 10px;
}
.goal-log-note-entry-date {
  margin-top: 2px;
  font-weight: bold;
}
.goal-log-contents {
  border-left: 3px solid gray;
  padding-left: 10px;
}

.goal-logs textarea {
  max-width: 100%;
  min-width: 100%;
  height: 150px;
}

.goal-logs p {
}
