.goal-training-header {
}
.goal-training-header h1 {
  line-height: 1;
}

.goal-training-confirm button {
  padding: 10px;
  margin-bottom: 15px;
}

.goal-training-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-training-spinner {
  animation: rotate 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  display: inline-block;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    font-size: 100%;
  }
  50% {
    font-size: 450%;
  }

  100% {
    transform: rotate(360deg);
    font-size: 100%;
  }
}
